body{
  background-color: rgb(199, 199, 199);
}


/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Высота хедера */
  background-color: #d9f0ff; /* Цвет фона хедера */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000; /* Поверх других элементов на странице */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятия */
}

.logo-container{
  margin-left: 100px;
}

.profile {
  margin-right: 300px;
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
}

.footer.visible {
  transform: translateY(0);
}

/* mainPageComponent */

.mainPageComponent {
  display: flex;
  flex-direction: row;
  padding-top: 60px; /* высота хедера */
  padding-bottom: 60px; /* высота футера */
  overflow-y: auto;
}

.mainLeft {
  flex: 1;
}

.mainMid {
  flex: 2;
}

.mainRight {
  flex: 1;
}

@media (max-width: 1200px) {
  .mainRight {
    display: none;
  }
}

@media (max-width: 600px) {
  .mainLeft {
    display: none;
  }
}

/* Postblock */

.postBlock {
  margin-bottom: 20px;
  padding: 20px;
  border: 10px solid #ffffff;
  border-radius: 10px;
  background-color: #fff;
}

.blockHeader {
  font-size: 1.5rem;
  margin-bottom: 30px;
  margin-top: -10px;
}

.content {
  margin-bottom: 20px;
}

.statistics a {
  pointer-events: auto;
}

.statistics {
  margin-bottom: -20px;
}

.linkStyle {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon:hover {
  color: rgb(199, 199, 199);
}

.icon.liked {
  color: red;
}
/* Image */

.postImageContainer {
  position: relative;
  object-fit: contain;
}

.postImage {
  width: 100%;
  height: auto;
}

.postImageVertical {
  width: 50%;
  height: 30%;
  object-fit: fill;
  transform: translate(50%, 0%);
}